@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0px;
}

html {
    --bg: #ffffff;
    --color-text: #000000;
    --color-hover: #0066FF;
    --color-textbg:#ffffff;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.myNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bg);
    height: 75px;
    padding-top: 23px;
}

.navItem ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navItem ul li {
    margin-top: 8px;
    margin-left: 14%;
}

.navItem li {
    margin-left: 50px;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    color: var(--color-hover);
}

.material-icons-outlined {
    color: var(--color-text);
}

.material-icons-outlined:hover {
    color: var(--color-hover);
}

.navItem a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.navItem a:hover {
    color: var(--color-hover);
}

#text:hover {
    color: var(--color-hover);
}

#dropdownMenuLink {
    color: var(--color-text);
}

#dropdownMenuLink:hover {
    color: var(--color-hover);
}

.flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70%;
    position: absolute;
}

.myName {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.myName a {
    text-decoration: none;
    color: var(--color-text);
}

.myName a:hover {
    color: var(--color-hover);
}

#myImg {
    border-radius: 50px;
    border: 2px solid var(--color-hover);
}

.navMenu {
    display: none;
    margin-left: 80%;
    position: absolute;
    margin-top: 9px;
}

.navMenuDarkMode {
    display: none;
    margin-left: 60%;
    position: absolute;
    margin-top: 9px;
}

.dropdown-menu {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

.dropdown-menu a:focus {
    color: white;
}

.divConsole {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}

#consoleLog {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-text);
}

#helloworld {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-hover);
}

.contato {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

#contato_icon {
    color: var(--color-hover);
}

#contato_icon:hover {
    color: #cccccc
}

.contato .icon_contato {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 10.5%;
    width: 10px;
}

.download_pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.btn-pdf {
    border-radius: 8px;
    width: 200px;
    background-color: var(--bg);
    border: 0.5px solid var(--color-hover);
    color: var(--color-hover);
}

.btn-pdf:hover {
    background-color: var(--color-hover);
    color: white;
}

.btn-pdf span {
    margin-top: -2px;
    margin-left: 5px;
    color: var(--color-hover);
}

.btn-pdf:hover .material-icons-outlined {
    color: white;
}

section {
    min-height: 100vh;
}

.section_page {
    padding-top: 6em;
}

.sobre-container {
    display: flex;
    flex-direction: row;
}

.div-img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-sobre {
    border: 2px solid var(--color-hover);
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.title-sobre {
    font-size: 28px;
    color: var(--color-hover);
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.text-sobre {
    font-size: 20px;
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin-top: 40px;
    text-align: justify;
}

#inicio {
    padding: 2em;
}

#sobre-1 {
    width: 50%;
    margin-top: 10%;
    min-width: 100vh;
}

#sobre-2 {
    width: 50%;
    min-width: 100vh;
}

.sobre-mobile {
    display: none;
}

.scroll-down {
    margin: 0;
    margin-top: 12%;
}

.scroll-down-sobre {
    margin-top: 40px;
}

.btn-scroll {
    border-radius: 5px;
    margin-left: 10%;
    background-color: var(--bg);
    border: 0.5px solid var(--color-hover);
}

.btn-scroll:hover {
    background-color: var(--color-hover);
}

.btn-scroll span {
    display: flex;
    text-align: center;
    color: var(--color-hover);
}

.btn-scroll span:hover {
    display: flex;
    text-align: center;
    color: var(--color-hover);
}

.btn-scroll:hover .material-icons-outlined {
    color: white;
}

.title-pages {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-pages p {
    color: var(--color-text);
    font-size: 28px;
}

.separador {
    display: none;
}

.painel-title {
    text-align: center;
    font-size: 24px;
    color: var(--color-hover);
    font-family: 'Poppins', sans-serif;
}

#btn-painel {
    border: 1px solid var(--color-hover);
    background-color: var(--bg);
    color: var(--color-hover);
    border-radius: 50px;
    margin-top: 15px;
}

#btn-painel:hover {
    background-color: var(--color-hover);
    color: #fff;
}

.scroll-down-pages {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20%;
}

.div-painel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.painel-body {
    height: 320px;
    width: 250px;
    background-color: var(--bg);
    border-radius: 20px;
    border: 1px solid var(--color-hover);
}

.img-painel {
    height: 55%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-skills {
    height: 55%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.table {
    align-items: center;
}

.headerTable {
    color: var(--color-text);
    text-align: center;
}

.body-painel-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: max-content;
}

table td {
    height: 20px;
    border: 1px solid var(--color-hover);
    border: none;
}

table td p {
    margin-top: 20px;
}

table td img {
    margin-top: 8px;
}

.modal-content {
    background-color: var(--bg);
}

.modal-title {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    color: var(--color-text);
}

.progress {
    border-radius: 50px;
    margin-top: 20px;
}

.progress-bar {
    background-color: var(--color-hover);
    border-radius: 50px;
}

#btn-modal-close {
    color: var(--color-hover);
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--color-hover);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.carreira-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.carreira-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--color-hover);
    border: 4px solid var(--color-hover);
    top: -5px;
    border-radius: 50%;
    z-index: 1;
}

.item-left {
    margin-left: 50%;
}

.item-right {
    margin-left: 10%;
}

.left {
    left: 0%;
}

.right {
    left: 50%;
}

.right::after {
    left: -16px;
}

.calendar-label {
    margin-top: 1px;
    margin-left: 5px;
    color: var(--color-text);
}

.carreira-cargo {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.carreira-dados {
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}

#carousel-icons {
    color: var(--color-hover);
}

.carousel-indicators .active {
    background-color: var(--color-hover);
    z-index: 2;
}

.carousel-indicators li {
    border: 1px solid var(--color-hover);
}

.painel-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 280px;
}

.img-portfolio {
    height: 200px;
    width:  400px;
    border-radius: 15px;
}

.descri-portfolio {
    height: 200px;
    width:  400px;
    border-radius: 15px;
}

.title-item-portfolio {
    font-size: 28px;
    color: var(--color-text);
}

.descricao-item-center {
    display: flex;
    justify-content: center; 
    text-align: justify;
    font-size: 18px;
    color: var(--color-text);

}

.btn-portfolio {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
    color: var(--bg);
    margin-top: 20px;
}

.btn-portfolio:hover {
    background-color: var(--bg);
    border: 1px solid var(--color-hover);
    color: var(--color-hover);
}

footer{
    background: var(--color-hover);
    margin-top: -180px;
    height: 120px;
    color: var(--color-textbg);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-social {
    font-size: x-large;
    margin-top: 20px;
}

.footer-desc {
    font-size: 12px;
}
@media screen and (max-width: 1400px) {

    #TopScrollDown{
        margin-top: 5%; 
    }

}
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .carreira-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .carreira-container::after {
        top: 20px;
    }

    .container-carreira::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .item-left {
        margin-left: 0%;
    }

    .item-right {
        margin-left: 0px;
    }

    .right {
        left: 0%;
    }

    .carreira-cargo {
        font-size: 24px;
    }

    .painel-portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 650px;
        
        margin-top: 10%;
    }

    .img-portfolio {
        height: 270px;
        width:  300px;
        margin-left: 12%;
        
    }

    .descri-portfolio {
        width:  300px;
        height: 100%;
        margin-left: 12%;
    }

    .descricao-item-center {
        display: flex;
        justify-content: center; 
        text-align: justify;
        font-size: 18px;
        color: var(--color-text);

    }

    .title-item-portfolio {
        font-size: 28px;
        color: var(--color-text);
    }

    footer{
        margin-top: -50px;
    }

}

@media screen and (min-width: 951px) and (max-width: 1200px) {

    .navItem {
        display: none;
    }

    .navMenu {
        display: flex;
        margin-top: 6px;
    }

    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }

    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
    }

    .sobre-container {
        flex-direction: column;
        margin-top: -10%;
    }

    #sobre-1 {
        width: 100%;
        margin-top: 10%;
    }

    #sobre-2 {
        width: 100%;
    }

    .title-sobre {
        font-size: 28px;
        margin-left: 50px;
        margin-top: 2px;
    }

    .text-sobre {
        font-size: 20px;
        margin-left: 50px;
    }

    #img-sobre {
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }

    .scroll-down-sobre {
        margin: 0;
        margin-top: 1%;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .separador {
        display: flex;
        margin-top: 20px;
    }
}

@media screen and (min-width: 830px) and (max-width: 950px) {

    .navItem {
        display: none;
    }

    .navMenu {
        display: flex;
        margin-top: 6px;
    }

    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }

    .contato {
        display: none;
    }

    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 6%;
    }

    .divConsole {
        margin-top: 25%;
    }

    #consoleLog {
        font-size: 26px;
    }

    #helloworld {
        font-size: 26px;
    }

    .scroll-down {
        margin: 0;
        margin-top: 15%;
        display: flex;
    }

    .sobre-container {
        flex-direction: column;
        margin-top: -10%;
    }

    #sobre-1 {
        width: 100%;
        margin-top: 10%;
    }

    #sobre-2 {
        width: 100%;
    }

    .title-sobre {
        font-size: 28px;
        margin-left: 50px;
        margin-top: 2px;
    }

    .text-sobre {
        font-size: 20px;
        margin-left: 50px;
    }

    #img-sobre {
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }

    .scroll-down-sobre {
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .separador {
        display: flex;
        margin-top: 20px;
    }

    .painel-body {
        height: 280px;
        width: 190px;
    }

    .body-painel-skills {
        margin-top: 10px;
    }
}

@media screen and (min-width: 551px) and (max-width: 829px) {
    .navItem {
        display: none;
    }

    .navMenu {
        display: flex;
        margin-top: 6px;
    }

    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }

    .contato {
        display: none;
    }

    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    .divConsole {
        margin-top: 35%;
    }

    #consoleLog {
        font-size: 22px;
    }

    #helloworld {
        font-size: 22px;
    }

    .scroll-down {
        margin: 0;
        margin-top: 15%;
        display: flex;
    }

    .sobre-container {
        flex-direction: column;
        margin-top: -10%;
    }

    #sobre-1 {
        width: 100%;
        margin-top: 10%;
    }

    #sobre-2 {
        width: 100%;
    }

    .title-sobre {
        font-size: 24px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .text-sobre {
        margin-top: 5px;
        font-size: 16px;
        margin-left: 5%;
        display: flex;
        justify-content: center;
    }

    #img-sobre {
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }

    .scroll-down-sobre {
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .separador {
        display: flex;
        margin-top: 20px;
    }

    .div-painel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .painel-body {
        height: 280px;
        width: 190px;
    }

    .body-painel-skills {
        margin-top: 10px;
    }
}

@media screen and (min-width: 480px) and (max-width: 550px) {
    .navItem {
        display: none;
    }

    .navMenu {
        display: flex;
        margin-top: 6px;
    }

    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }

    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    .contato {
        display: none;
    }

    .divConsole {
        margin-top: 30%;
    }

    #consoleLog {
        font-size: 22px;
    }

    #helloworld {
        font-size: 22px;
    }

    .scroll-down {
        margin: 0;
        margin-top: 25%;
        display: flex;
        justify-content: center;
    }

    .sobre-container {
        flex-direction: column;
        margin-top: -10%;
    }

    #sobre-1 {
        width: 100%;
        margin-top: 10%;
    }

    #sobre-2 {
        width: 100%;
    }

    .title-sobre {
        font-size: 24px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .text-sobre {
        margin-top: 5px;
        font-size: 12px;
        display: flex;
        margin-left: 5%;
        justify-content: center;
    }

    #img-sobre {
        border-radius: 60px;
        width: 120px;
        height: 120px;
    }

    .scroll-down-sobre {
        display: none;
        justify-content: center;
        margin-top: -5px;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .separador {
        display: flex;
        margin-top: 20px;
    }

    .div-painel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .painel-body {
        height: 280px;
        width: 190px;
    }

    .body-painel-skills {
        margin-top: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .navItem {
        display: none;
    }

    .navMenu {
        display: flex;
        margin-top: 6px;
    }

    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }

    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    .contato {
        display: none;
    }

    .divConsole {
        margin-top: 50%;
    }

    #consoleLog {
        font-size: 18px;
    }

    #helloworld {
        font-size: 18px;
    }

    .flexDirection {
        margin-left: 25px;
    }

    .btn-pdf {
        border-radius: 8px;
        width: 150px;
        height: 50px;
        background-color: var(--bg);
        border: 0.5px solid var(--color-hover);
        color: var(--color-hover);
        font-size: 12px;
    }

    .btn-pdf:hover {
        background-color: var(--color-hover);
        color: white;
    }

    .btn-pdf span {
        margin-top: -2px;
        margin-left: 5px;
        font-size: 20px;
        color: var(--color-hover);
    }

    .scroll-down {
        margin: 0;
        margin-top: 25%;
        display: flex;
        justify-content: center;
    }

    .sobre-container {
        display: none;
    }

    .div-img-sobre-mobile {
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
    }

    #img-sobre {
        border-radius: 60px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
    }

    .title-sobre {
        font-size: 20px;
        margin-top: 10px;
        margin-left: -20px;
        display: flex;
        justify-content: center;
    }

    .text-sobre {
        margin-top: 5px;
        font-size: 16px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
    }

    .scroll-down-sobre {
        display: flex;
        justify-content: center;
        margin-top: 50px
    }

    .sobre-mobile {
        display: flex;
        flex-direction: row;
    }

    .card-container {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .separador {
        display: flex;
        margin-top: 20px;
    }

    .scroll-down-pages {
        display: flex;
        justify-content: center;
        margin-right: 25px;
    }

    .div-painel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .painel-body {
        height: 280px;
        width: 190px;
    }

    .body-painel-skills {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1980px) {
    .contato .icon_contato {
        margin-left: 11.4%;
    }

    #TopScrollDown {
        margin-top: 20%;
    }
}


