@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
}

html {
    --bg: #ffffff;
    --color-text: #000000;
    --color-hover: #0066FF;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.myNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bg);
    height: 75px;
    padding-top: 23px;
}

.navItem ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navItem ul li {
    margin-top: 8px;
    margin-left: 20%;
}

.navItem li {
    margin-left: 50px;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    color: var(--color-hover);
}


.material-icons-outlined {
    color: var(--color-text);
}

.material-icons-outlined:hover {
    color: var(--color-hover);
}

.navItem a {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.navItem a:hover {
    color: var(--color-hover);
}


#text:hover {
    color: var(--color-hover);
}

#dropdownMenuLink {
    color: var(--color-text);
}

#dropdownMenuLink:hover {
    color: var(--color-hover);
}

.flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70%;
    position: absolute;
}

.myName {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.myName a {
    text-decoration: none;
    color: var(--color-text);
}

.myName a:hover {
    color: var(--color-hover);
}

#myImg {
    border-radius: 50px;
    border: 2px solid var(--color-hover);
}

.navMenu {
    display: none;
    margin-left: 80%;
    position: absolute;
    margin-top: 9px;
}

.navMenuDarkMode {
    display: none;
    margin-left: 60%;
    position: absolute;
    margin-top: 9px;
}

.dropdown-menu {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

.dropdown-menu a:focus {
    color: white;
}

.divConsole {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}

#consoleLog {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-text);
}

#helloworld {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-hover);
}

.contato {
    display: flex;
    width: 100%;
    margin: 0;
    color: var(--color-hover);
    flex-direction: column;
}

.contato .icon_contato {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 10.5%;
}

.download_pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.btn-pdf {
    border-radius: 8px;
    width: 200px;
    background-color: var(--bg);
    border: 0.5px solid var(--color-hover);
    color: var(--color-hover);
}

.btn-pdf:hover {
    background-color: var(--color-hover);
    color: white;
}

.btn-pdf span {
    margin-top: -2px;
    margin-left: 5px;
    color: var(--color-hover);
}

.btn-pdf:hover .material-icons-outlined {
    color: white;
}

section {
    min-height: 100vh;
}

.section_page {
    padding: 6em;
}

#inicio {
    padding: 2em;
}

#sobre {
    
}

.scroll-down {
    margin: 0;
    margin-top: 12%   
}

.btn-scroll {
    border-radius: 5px;
    margin-left: 10%;
    background-color: var(--bg);
    border: 0.5px solid var(--color-hover);
}

.btn-scroll:hover {
    background-color: var(--color-hover);
}

.btn-scroll span {
    display: flex;
    text-align: center;
    color: var(--color-hover);
}

.btn-scroll span:hover {
    display: flex;
    text-align: center;
    color: var(--color-hover);
}

.btn-scroll:hover .material-icons-outlined {
    color: white;
}




@media screen and (min-width: 951px) and (max-width: 1200px) {
    .navItem {
        display: none;
    }
    .navMenu {
        display: flex;
        margin-top: 6px;
    }
    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
    }
}

@media screen and (min-width: 830px) and (max-width: 950px) {
    .navItem {
        display: none;
    }
    .navMenu {
        display: flex;
        margin-top: 6px;
    }
    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .contato {
        display: none;
    }
    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 6%;
    }
    .divConsole {
        margin-top: 25%;
    }
    #consoleLog {
        font-size: 26px;
    }
    #helloworld {
        font-size: 26px;
    }
    .scroll-down {
        margin: 0;
        margin-top: 15%;
        display: flex;
    }
}

@media screen and (min-width: 551px) and (max-width: 829px) {
    .navItem {
        display: none;
    }
    .navMenu {
        display: flex;
        margin-top: 6px;
    }
    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .contato {
        display: none;
    }
    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }
    .divConsole {
        margin-top: 35%;
    }
    #consoleLog {
        font-size: 22px;
    }
    #helloworld {
        font-size: 22px;
    }
    .scroll-down {
        margin: 0;
        margin-top: 15%;
        display: flex;
    }

}

@media screen and (min-width: 480px) and (max-width: 550px) {
    .navItem {
        display: none;
    }
    .navMenu {
        display: flex;
        margin-top: 6px;
    }
    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }
    .contato {
        display: none;
    }
    .divConsole {
        margin-top: 30%;
    }
    #consoleLog {
        font-size: 22px;
    }
    #helloworld {
        font-size: 22px;
    }
    .scroll-down {
        margin: 0;
        margin-top: 25%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .navItem {
        display: none;
    }
    .navMenu {
        display: flex;
        margin-top: 6px;
    }
    .navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .contato .icon_contato {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }
    .contato {
        display: none;
    }
    .divConsole {
        margin-top: 50%;
    }
    #consoleLog {
        font-size: 18px;
    }
    #helloworld {
        font-size: 18px;
    }
    .flexDirection {
        margin-left: 25px;
    }
    .btn-pdf {
        border-radius: 8px;
        width: 150px;
        height: 50px;
        background-color: var(--bg);
        border: 0.5px solid var(--color-hover);
        color: var(--color-hover);
        font-size: 12px;
    }
    .btn-pdf:hover {
        background-color: var(--color-hover);
        color: white;
    }
    .btn-pdf span {
        margin-top: -2px;
        margin-left: 5px;
        font-size: 20px;
        color: var(--color-hover);
    }
    .scroll-down {
        margin: 0;
        margin-top: 25%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1980px) {
    .contato .icon_contato {
        margin-left: 11.4%;
    }
}