@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html {
    --bg: #ffffff;
    --color-text: #000000;
    --color-hover: #0066FF;
}

body {
    background-color: var(--bg);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.myNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--bg);
    height: 75px;
    padding-top: 23px;
}

#navItem ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}

#navItem ul li {
    margin-top: 8px;
    margin-left: 20%;
}

#navItem li {
    margin-left: 50px;
}

#text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

#text:hover {
    color: var(--color-hover);
}

#textDecoration {
    color: var(--color-text);
    text-decoration: none;
}

#textDecoration:hover {
    color: var(--color-hover);
}

#textDecorationDropdown {
    color: black;
    text-decoration: none;
}

#textDecorationDropdown:hover {
    color: var(--color-hover);
}

#dropdownMenuLink {
    color: var(--color-text);
    text-decoration: none;
}

#dropdownMenuLink:hover {
    color: var(--color-hover);
}

.flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70%;
    position: absolute;
}

.myName {
    margin-top: 5px;
    margin-left: 20px;
}

#myImg {
    border-radius: 50px;
    border: 2px solid var(--color-hover);
}

#navMenu {
    display: none;
    margin-left: 80%;
    position: absolute;
    margin-top: 9px;
}

#navMenuDarkMode {
    display: none;
    margin-left: 60%;
    position: absolute;
    margin-top: 9px;
}

.dropdown-menu {
    margin-right: 50px;
}

.contato {
    display: flex;
    margin-top: -230px;
    color: var(--color-hover);
    margin-left: 12.3%;
    flex-direction: column;
    position: absolute;
}

@media screen and (min-width: 951px) and (max-width: 1200px) {
    .contato {
        margin-top: -150px;
        margin-left: 11%;
    }
    #divConsole {
        margin-top: 500px;
    }
}

@media only screen and (max-width: 950px) {
    body {
        background-color: var(--bg);
    }
    #navItem {
        display: none;
    }
    #navMenu {
        display: flex;
        margin-top: 6px;
    }
    #navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .flexDirection {
        margin-right: 65%;
    }
}

#divConsole {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: center;
}

#consoleLog {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-text);
}

#helloworld {
    font-size: 32px;
    font-family: 'Righteous', cursive;
    color: var(--color-hover);
}

#section1 {
    margin-top: 80px;
}

@media only screen and (max-width: 950px) {
    #divConsole {
        margin-top: 70%;
    }
    #helloworld {
        font-size: 20px;
    }
    #consoleLog {
        font-size: 20px;
    }
}

@media screen and (min-width: 551px) and (max-width: 949px) {
    #divConsole {
        margin-top: 50%;
    }
    #helloworld {
        font-size: 20px;
    }
    #consoleLog {
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {
    #helloworld {
        font-size: 20px;
    }
    #consoleLog {
        font-size: 20px;
    }
    .contato {
        display: none;
    }
}

@media screen and (min-width: 420px) and (max-width: 500px) {
    #divConsole {
        margin-top: 50%;
    }
    #helloworld {
        font-size: 20px;
    }
    #consoleLog {
        font-size: 20px;
    }
    .contato {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    #divConsole {
        margin-top: 50%;
    }
    #helloworld {
        font-size: 20px;
    }
    #consoleLog {
        font-size: 20px;
    }
    .contato {
        display: none;
    }
}