@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background-color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.myNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    height: 75px;
    padding-top: 23px;
}

#navItem ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}

#navItem ul li {
    margin-top: 8px;
    margin-left: 20%;
}

#navItem li {
    margin-left: 50px;
}

#text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#textDecoration {
    color: black;
    text-decoration: none;
}

#textDecoration:hover {
    color: #0066FF;
}

#dropdownMenuLink {
    color: black;
    text-decoration: none;
}

#dropdownMenuLink:hover {
    color: #0066FF;
}

.flexDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 70%;
    position: absolute;
}

.myName {
    margin-top: 5px;
    margin-left: 20px;
}

#myImg {
    border-radius: 50px;
    border: 1px solid #0066FF;
}

#navMenu {
    display: none;
    margin-left: 80%;
    position: absolute;
    margin-top: 9px;
}

#navMenuDarkMode {
    display: none;
    margin-left: 60%;
    position: absolute;
    margin-top: 9px;
}

.dropdown-menu {
    margin-right: 50px;
}

@media only screen and (max-width: 950px) {
    body {
        background-color: lightblue;
    }
    #navItem {
        display: none;
    }
    #navMenu {
        display: flex;
        margin-top: 6px;
    }
    #navMenuDarkMode {
        display: flex;
        margin-top: 6px;
    }
    .flexDirection {
        margin-right: 65%;
    }
}