.footer {
  border-top: 1px solid var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-block: 28px;
  p {
    margin: 0;
    font-size: 9px;
    color: var(--muted);
  }
  > .brand {
    font-size: 15px;
  }
  > a:last-child {
    display: grid;
    place-items: center;
    border: 1px solid var(--line);
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
}
